[submodule "lab02"]
	path = lab02
	url = git@github.com:4m09u5/OSISP_LAB2.git
[submodule "lab01"]
	path = lab01
	url = git@github.com:4m09u5/walkdir.git
[submodule "lab04"]
	path = lab04
	url = ./lab04
[submodule "lab03"]
	path = lab03
	url = ./lab03
