[submodule "lab02"]
	path = lab02
	url = git@github.com:4m09u5/OSISP_LAB2.git
[submodule "lab01"]
	path = lab01
	url = git@github.com:4m09u5/walkdir.git
[submodule "lab04"]
	path = lab04
	url = git@github.com:4m09u5/OSISP_LAB04.git
[submodule "lab03"]
	path = lab03
	url = git@github.com:4m09u5/OSISP_LAB03.git
[submodule "lab05"]
	path = lab05
	url = git@github.com:4m09u5/OSISP_LAB05.git
[submodule "lab07"]
	path = lab07
	url = git@github.com:4m09u5/OSISP_LAB07.git
[submodule "lab08"]
	path = lab08
	url = git@github.com:4m09u5/OSISP_LAB08.git
[submodule "lab06"]
	path = lab06
	url = git@github.com:4m09u5/OSISP_LAB06.git
